<h1>Igraci</h1>
<p>
  <%= link_to "Ovde", "http://ir3fudbaleri.com/spisak-igraca" %>
  mozete pratiti ko se sve takmiči u IR3 ligi.
</p>

<!--Lista igraca-->
  <div class="row show-grid">
    <div class="span2">
    	<img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/WP_001185.jpg" class="img-circle">
      <p><a href="http://facebook.com"<i class="icon-envelope"></i></a>Aleksandar Mirkovic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/Vlajche%20HTC%207%20Trophy_001152_0.jpg" class="img-circle">
      <p>Aleksandar Samardzija</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/WP_001234.jpg" class="img-circle">
      <p>Bojan Ivancev</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/IMG_2824.jpg" class="img-circle">
      <p>Bojan Panjevic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/WP_001187.jpg" class="img-circle">
      <p>Borko Zivanovic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/IMAG0267.jpg" class="img-circle">
      <p>Branko Vukelic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/draza.jpeg" class="img-circle">
      <p>Drazen Draskovic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/IMG_2824.jpg" class="img-circle">
      <p>Bojan Panjevic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/WP_001185.jpg" class="img-circle">
      <p>Aleksandar Mirkovic</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/Vlajche%20HTC%207%20Trophy_001152_0.jpg" class="img-circle">
      <p>Aleksandar Samardzija</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/WP_001234.jpg" class="img-circle">
      <p>Bojan Ivancev</p> 
    </div>
    <div class="span2">
      <img src="http://ir3fudbaleri.com/sites/default/files/styles/medium/public/IMG_2824.jpg" class="img-circle">
      <p>Bojan Panjevic</p> 
    </div>
  
  </div>

      
