<h1>O nama</h1>
<img class="pull-right" src="http://balonizafudbal.com/wp-content/uploads/2011/04/3-300x248.jpg" class="img-polaroid">
<p>
	Sada već davne 2007. godine grupa studenata sa Elektrotehničkog fakulteta u Beogradu počela je da se okuplja i igra mali fudbal na otvorenim terenima na Adi. Počelo je dogovorima na predavanjima, onda je nastala mejling lista, slikanje timova i vođenje statistike. Polako je sve prešlo u tradiciju.

	Danas smo grupa diplomiranih elektroinženjera koja se jednom nedeljno, svake srede od 22h, sastaje u balonu Bubamara na Zvezdari i igra mali fudbal. Pored ETF-ovaca sada imamo i pravnike, ekonomiste, građevince...

	Ukoliko želite, uvek ste dobrodošli da pratite naše mečeve a mi ćemo se potruditi da vas ne razočaramo!
</p>


