$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body{
    padding-top: 60px;

}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}


.footer {

	margin-top: 300px;
	color: $grayLight;
	a {
		color: gray;
	}
}

/*
.hero-unit {
        background-image: url(http://www.best-of-munich.com/allianz-arena/img/Allianz-Arena-gross5.jpg); 
        background-size:1300px 800px;
        background-repeat:no-repeat;   
}
*/